body {
    margin: 0;
    font-family: 'Afacad', sans-serif;
}

.navbar {
    background: linear-gradient(to bottom, #FF7EBC, #FFB5DA);
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links {
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 25px;
    margin-left: auto;
    margin-right: 70px;
    margin-top: -15px;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 15px;
    color: white;
    display: inline-block;
    transition: transform 0.2s ease;
}

.nav-links p {
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.nav-links a:hover {
    transform: scale(1.2);
}

.container1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;  
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.logo img {
    height: 100px;
    border: 1px solid red;
}

.search-bar {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 5px;
    padding: 5px 15px;
    height: 30px;
    width: 50%;
    margin: auto;
    /* box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.189); */
}

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.search-bar button {
    height: 90%;
    width: 7%;
    background: #FF98CA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar img {
    width: 20px;
    height: 20px;
}

.cart-btn{
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.cart-btn button {
    width: 100%;
    background: #534859;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 2px 6px 4px rgba(0, 0, 0, 0.189);
}

.cart-btn img {
    width: 16px;
    height: 16px;
    padding-right: 5px;
}