body {
    margin: 0;
    font-family: 'Afacad', sans-serif;
    padding-top: 148px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    background-color: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.096);
    padding: 0;
}

.nav-links {
 
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .burger {
    width: 35px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 300px;
    z-index: 100;
}

.burger span {
    height: 4px;
    background: white;
    border-radius: 5px;
    transition: 0.3s ease;
    transform-origin: center;
}

.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 10px); 
}

.burger.active span:nth-child(2) {
    opacity: 0; 
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -10px);
} */

.logo { 
    background: linear-gradient(to bottom, #FF7EBC, #FFB5DA);
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

.logo img {
    height: 70px;
}   

.nav-links {
    width: 1800px;
    gap: 100px;
    
}

.nav-links button img {
    width: 23px;   
}

.nav-links button:hover img,
.nav-links button.active img {
    transition: filter 0.3s ease;
}


.nav-links button {
    position: relative;
    border: none;
    background: transparent;
    height: 100%;
    width: 200px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.nav-links button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #FF7EBC; 
    /* border-radius: 5px; */
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.nav-links button.active::after {
    transform: scaleX(1);
}

.nav-links button:hover::after {
    transform: scaleX(1);
}

.nav-links button a {
    padding: 20px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px; 
    color: #5E5166;
}

.nav-links button:hover a,
.nav-links button.active a {
    color: #FF7EBC;;
}


/* .nav-links button:hover ,
.nav-links button.active {
    background: #FFB5DA;
} */


/* .dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background: white;
    box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.156);
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 999;
    opacity: 1;
    pointer-events: none;
}

.dropdown-menu.show {
    max-height: 100px;
    pointer-events: auto;
}


.dropdown-menu a {
    height: 100%;
    width: 150px;
    color: #5E5166;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.dropdown-menu a:hover {
    color: white;
    background-color: #76697D;
} */


.banner-section {
    position: relative;
    font-family: 'Dosis', sans-serif;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -80px;
    /* overflow: hidden; */
}
.banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/web_img/banner-bg.jpg') no-repeat center center/cover;
}

.banner-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.548);
    /* box-shadow: inset 0px 0px 100px 30px rgb(0, 0, 0); */
    pointer-events: none;
}

.banner-content {
    position: relative;
    text-align: center;
    color: white; 
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.705);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    margin-bottom: 10px;
}

.banner-sub-text  {
    height: 70px;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-shadow: 0px 1px 10px rgb(0, 0, 0.705);
    align-content: center;
}

.banner-content button{
    border: none;
    height: 50px;
    width: 250px;
    color: white;
    font-family: 'Afacad', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.765);
    background: linear-gradient(to bottom, #FF7EBC, #FF98CA, #FF7EBC);
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.banner-content button:hover {
    border: 3px solid #FF7EBC;
    color: #FF7EBC;
    background: rgba(0, 0, 0, 0.356);
    text-shadow: 0px 1px 15px rgb(0, 0, 0);
    transform: scale(1.1);
}

.banner-content button img {
    height: 30px;
    margin-left: 15px;

}

.intro-section {       
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 10%;
    text-align: left;
}

.intro-content {
    width: 600px;
}

.intro-title {   
    height: 60px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #5E5166;
    text-align: right;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.089); 
}

.intro-desc {   
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    word-spacing: 5px;
    color: #76697D;
    text-align: justify;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.089);
}

.intro-image {
    width: 500px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.intro-image img {
    height: 300px;
}

.collection-section {
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.collection-header {
    height: 100px;
    width: 1200px;
    border-bottom: 1px solid #D6D6D6; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collection-header-child {
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collection-title {
    padding-bottom: 5px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #5E5166;
    word-spacing: 3px;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.089); 
}

.collection-line { 
    height: 5px;
    width: 110px;
    background-color: #FF7EBC;
    border-radius: 5px;
}

.collection-header button {
    border: none;
    height: 50px;
    width: 250px;
    color: white;
    font-family: 'Afacad', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.765);
    background: linear-gradient(to bottom, #FF7EBC, #FF98CA, #FF7EBC);
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.collection-header button:hover {
    border: 3px solid #FF7EBC;
    color: #FF7EBC;
    background: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.089);
    transform: scale(1.1);
    
}

.collection-container {
    height: 1100px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.collection-highlight-container {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.144);
    height: 500px;
    width: 1200px;
    overflow: hidden;

}

.collection-highlight-img-A{
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/web_img/highlight-A.png?v1');
    background-repeat: no-repeat;
    background-size: 100%;
}

.collection-highlight-img-B {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/web_img/highlight-B.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.collection-highlight-content-A {
    position: absolute;
    top: 100px; 
    left: 80px; 
    z-index: 1;
    width: 800px; 
    font-family: 'Caveat', sans-serif;
    font-size: 45px;
    font-weight: 800;
    color: #5E5166;
    letter-spacing: 1px;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.344); 
    line-height: 60px;
}

.collection-highlight-content-B {
    position: absolute;
    top: 100px; 
    right: 50px; 
    z-index: 1;
    width: 800px; 
    font-family: 'Caveat', sans-serif;
    font-size: 45px;
    font-weight: 800;
    color: #5E5166;
    letter-spacing: 1px;
    text-align: end;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.344); 
    line-height: 60px;
}

.collection-cards-container{
    height: 450px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.collection-card {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection-card img {
    height: 350px;
    width: 300px;
}

.collection-card-name {
    height: 60px;
    width: 100%;
    padding-top: 10px;
    font-family: 'Afacad', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #5E5166;
    background-color: white;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.089); 
    text-align: center;
    align-content: center;
}

.collection-card-line {
    height: 2px;
    width: 80px;
    background: rgba(123, 108, 132, 0.875);
    border-radius: 5px;
}

.overview{
    position: relative;
    font-family: 'Dosis', sans-serif;
    width: 100%;
    height: 400px;
    display: flex;  
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.overview-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/web_img/overview-bg.png') no-repeat center center/cover;
}

.overview-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 35px 20px rgba(0, 0, 0, 0.052);
    pointer-events: none;
}

.overview-content {
    height: 350px;
    width: 380px;
    position: relative;
    color: #5E5166; 
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.089); 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    z-index: 10;
}

.overview-content img {
    height: 40px;
}

.overview-card {    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overview-card-title {
    padding-bottom: 5px;
}

.overview-card-line {
    height: 5px;
    width: 110px;
    background-color: #FF7EBC;
    border-radius: 5px;
}

.overview-card-desc {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 10px;
}


.collection-section-bottom {
    height: 1500px;
}

.quote {
    background: #fef4f9;
    margin-top: 200px;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote p {
    width: 65%;
    font-family: 'Caveat', sans-serif;
    font-size: 45px;
    font-weight: 800;
    color: #5E5166;
    letter-spacing: 2px;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.193); 
    text-align: center;
}

.footer{
    background:#5E5166;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer-info {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-logo {  
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;

}

.footer-logo img {
    height: 70px;
}   

.footer-content {
    height: 200px;
    width: 400px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.089); 
    display: flex;
    flex-direction: column;
    
}

.footer-content-header {    
    font-size: 18px;
    font-weight: 800;
}

.footer-content p {
    line-height: 40px;
}

.footer-content a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    line-height: 40px;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.089); 
    display: flex;
    align-items: center;
}

.footer-content img {    
    height: 20px; 
    padding-right: 10px;
}

.footer-line {
    width: 90%;
    height: 2px;
    background: white;
    border-radius: 5px;
}

.footer-others{
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-others p {
    padding-top: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    line-height: 40px;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.089); 
}