body {
    margin: 0;
    font-family: 'Afacad', sans-serif;
    padding-top: 148px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background: linear-gradient(to bottom, #FF7EBC, #FFB5DA);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.189);
    padding: 0; /* Ensure no padding in the navbar */
}

.nav-container {
    
    height: 100%;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger {
    width: 35px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 300px;
    z-index: 100;
}

.burger span {
    height: 4px;
    background: white;
    border-radius: 5px;
    transition: 0.3s ease;
    transform-origin: center;
}

.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 10px); /* Rotate top line and move it slightly right and down to form one arm of the X */
}

.burger.active span:nth-child(2) {
    opacity: 0; /* Hide the middle line */
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -10px); /* Rotate bottom line and move it slightly right and up to form the other arm of the X */
}

.logo { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 70px;
}   

.account {   
    border: none; 
    background: transparent;
    height: 100%;
    width: 50%;
    font-family: 'Afacad', sans-serif;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.account img {
    width: 30px;   
}

.account a {
    padding: 10px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px; 
    color: white;
}

.account:hover {
    background: #FFB5DA;
}

.cart{  
    border: none;
    background: transparent;
    height: 100%;
    width: 50%;
    font-family: 'Afacad', sans-serif;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;  
    transition: transform 0.2s ease;
}

.cart img {
    width: 30px;
}

.cart a {
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    /* [horizontal-offset] [vertical-offset] [blur-radius] [spread-radius] [color]; */
}

.cart:hover {
    background: #FFB5DA;
}


.dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    
    /* existing styles */
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: white;
    box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.156);
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 999;
    opacity: 1;
    pointer-events: none;
}

.dropdown-menu.show {
    max-height: 100px; /* Should be higher than the menu height */
    pointer-events: auto;
}


.dropdown-menu a {
    height: 100%;
    width: 150px;
    color: #5E5166;
    text-decoration: none;
    font-size: 25px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.dropdown-menu a:hover {
    color: white;
    background-color: #76697D;
}


.banner-section {
    position: relative;
    font-family: 'Dosis', sans-serif;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -80px;
    /* overflow: hidden; */
}
.banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/web_img/banner-bg.jpg') no-repeat center center/cover;
}

.banner-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.548);
    /* box-shadow: inset 0px 0px 100px 30px rgb(0, 0, 0); */
    pointer-events: none;
}
.banner-content {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    margin-bottom: 10px;
}

.banner-content {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.705);
}

.banner-sub-text  {
    height: 70px;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-shadow: 0px 1px 10px rgb(0, 0, 0.705);
    align-content: center;
}

.banner-content button p{
    font-family: 'Afacad', sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.509);
}

.banner-content button{
    height: 50px;
    width: 230px;
    background: #FF98CA;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.189);
    transition: transform 0.2s ease;
}

.banner-content button:hover {
    border: 3px solid #FF98CA;
    color: #FF98CA;
    background: rgba(0, 0, 0, 0.356);
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.089);
    transform: scale(1.1);
}

.banner-content button img {
    height: 30px;
    margin-left: 15px;

}

.intro-section {       
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 10%;
    text-align: left;
}

.intro-content {
    width: 600px;
}

.intro-title {   
    height: 60px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #5E5166;
    text-align: right;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.089); 
}

.intro-desc {   
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    word-spacing: 5px;
    color: #76697D;
    text-align: justify;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.089);
}

.intro-image {
    width: 500px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.intro-image img {
    height: 300px;
}

.collection-section {
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.collection-header {
    height: 100px;
    width: 1200px;
    border-bottom: 1px solid #D6D6D6; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collection-header-child {
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collection-title {
    padding-bottom: 5px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #5E5166;
    word-spacing: 3px;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.089); 
}

.collection-underline { 
    height: 4px;
    width: 100px;
    background-color: #FF7EBC;
    border-radius: 5px;
}

.collection-header button {
    border: none;
    height: 50%;
    width: 250px;
    color: white;
    font-family: 'Afacad', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.244);
    background: #FF98CA;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.collection-header button:hover {
    border: 3px solid #FF98CA;
    color: #FF98CA;
    background: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.089);
    transform: scale(1.1);
    
}

.collection-top {
    height: 1000px;
    width: 1200px;
    display: flex;
}

.big-img {
    position: relative;
    height: 1000px;
    width: 500px;
    overflow: hidden;
}

.big-img-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/web_img/set-A-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.big-img-content {
    position: absolute;
    top: 30px; /* adjust as needed */
    left: 30px; /* adjust as needed */
    z-index: 1;
    width: 50%; 
    font-family: 'Caveat', sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: #5E5166;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4); 
    line-height: 70px;
}

.collection-group-container{
    height: 1000px;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.collection-group {
    height: 50%;
    width: 700px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.collection-card {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection-card img {
    height: 380px;
    width: 100%;
}

.collection-card-name {
    height: 50px;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: #5E5166;
    word-spacing: 3px;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.089); 
    text-align: center;
    align-content: center;
}

.collection-card a {
    height: 40px;
    width: 120px;
    border: 3px solid #FF98CA;
    text-decoration: none;
    font-size: 25px;
    font-weight: 800;
    color: white;
    background: #FF98CA;
    text-align: center;
    align-content: center;
}

.collection-card a:hover {
    border: 3px solid #FF98CA;
    color: #FF98CA;
    background: white;
}