body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #FF7EBC 0%, #FFB5DA 50%, #FF7EBC 100%);
    font-family: Arial, sans-serif;
}
.Back {
    padding: 30px;
    background: none;
    border: 1px;
    display: flex;
    align-items: center;
    margin-bottom: auto;
    margin-right: auto;
    cursor: pointer;
    transition: transform 0.2s ease;;
}

.Back:hover {
    transform: scale(1.1);
}

.Back a {
    padding: 10px;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: white;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.396);
}

.Back a:hover {
    text-decoration: none;
}

.Back img{
    height: 20px;
}

.container {
    position: absolute;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-header {    
    width: 45%;
    height: 40px;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
    color: white;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.396);
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container {
    display: flex;
    padding: 30px;
    width: 100%;
    overflow: hidden;
}

.signup-form {
    width: 400px;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;   
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.189);  
}

.signup-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.signup-form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
}

.signup-form button {
    height: 40px;
    width: 85%;
    padding: 1px;
    background: #FF98CA;
    border: none;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px ;
    cursor: pointer;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.244);
    border-radius: 5px;
    margin-top: 10px;
    transition: transform 0.2s ease;
}

.signup-form button:hover {
    border: 3px solid #FF7EBC;
    color: #FF7EBC;
    background: white;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.089);
}
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid #FF7EBC;
    margin: 0 10px;
}

.divider p {
    font-weight: bold;
    font-size: 12px;
    color: #FF7EBC;
    margin: 0;
    white-space: nowrap;
}


.login-suggestion {
    font-size: 12px;
    font-weight: 700;
    color: #2b202e6a;
}

.login-suggestion a{
    color: #FF7EBC;
    font-weight: 800;
    text-decoration: none;
    margin-left: 8px;
}

a:hover {
    text-decoration: underline;
}

.info-section {
    width: 50%;
    background: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

.info-section p {
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 600;
    word-spacing: 2px;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.396);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 200px;
}